.shop-container{
    display: flex;
}

.product-container{
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightgray;
}

/*This section is just to make the cart position fixed while scrolling*/
.cart-container{
    position: fixed;
    top: 130px;
    right: 100px;
}
/*//////////////////////////////////////////////////////*/